<div class="row">
    <div class="col-12">
        <h1>Pizza Order</h1>
    </div>

</div>

<div class="row">

    <body>
        <div class="col-4">
            <div class="pizza small">
                <div class="orderBox">
                    <form action="/orderSmall" method="POST">
                        <div class="info">
                            <img src="pizza.png" alt="">
                            <h2>Small Pizza</h2>
                            <div name="smallPrice" value="31.99"><strong>R31.99</strong></div>

                        </div>
                        <button class="btn orderSmallPizza" type="submit" style="margin-left: auto">Order
                            small
                            pizza</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4">

            <div class="pizza medium">
                <form action="/orderMedium" method="POST">

                    <div class="info">
                        <img src="pizza.png" alt="">
                        <h2>Medium Pizza</h2>
                        <strong name="mediumPrice" value="76.99">R76.99</strong>
                    </div>

                    <div class="orderBox">
                        <button class="btn orderMediumPizza" type="submit" style="margin-left: auto">Order
                            medium
                            pizza</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-4">
            <div class="pizza large">
                <form action="/orderLarge" method="POST">

                    <div class="info">
                        <img src="pizza.png" alt="">
                        <h2>Large Pizza</h2>
                        <strong name="largePrice">R98.99</strong>
                    </div>
                    <div class="orderBox">
                        <button class="btn orderLargePizza" type="submit" style="margin-left: auto">Order large
                            pizza</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-12">
            <br>
            <div>
                <form action="/order" method="POST">
                    <button type="submit">Place Order</button>
                </form>
            </div>
        </div>
        <br>
        <div class="total">
            <table>
                {{#each Pizza}}
                <tr>
                    <td><strong>{{sizeType}} pizzas total:</strong></td>
                    <td> <form action="/add/{{sizeType}}" method="POST"> <input type="submit" value="+"> </form> {{qty}} <form action="/sub/{{sizeType}}" method="POST"> <input type="submit" value="-">  </form> </td>
                    <td><span class="smallTotalPrice">{{price}}</span></td>
                </tr>
                {{/each}}
            </table>
        </div>
{{!-- 
        <div class="footer">
            <div class="contact">

            </div>

        </div> --}}
</body>


<hr>

</div>
<div class="header">
    <div>
        <form action="/total" method="GET"></form>
    </div>

    <form action="/count" method="post">
        <div class="counter">
            {{counter}}
        </div>
        <input type="submit" value="Press button to count">

    </form>

</div>
</div>